<html>
<body>
<form action="@ViewData["urlsrc"]"
      enctype="multipart/form-data" method="post">
    <input name="access_token" value="test" type="text"/>
    <input type="submit" value="Load Collabora Online"/>
</form>
</body>
</html>